<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />

    <title>Tree Map</title>
</head>
<body>
    <div id="chart"></div>
    <div>Create a Tree</div>
    <div>
        <form>
            <div>
                <span class="search">
                    <select name ="Districts">
                        {% for district in neighborhoods %}
                            <option value={{district}}> {{district}} </option>
                            {% endfor %}
                    </select>
                </span>
                <span class="search"></span>
                <span class="search">
                    <select name ="TreeSpecies">
                        {% for tree in treespecies%}
                            <option value={{tree}}> {{tree}} </option>
                            {% endfor %}
                    </select>
                </span>
            </div>
            <div>
                <input type="submit" value="Plant">
            </div>
        </form>
    </div>


    <!-- <div id='map' style='width: 800px; height: 700px;'></div>

    <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiamVzc2ljYWdhbWlvIiwiYSI6ImNrMzEyeHAzbjA0dW0zbW45c2prZG0zdjcifQ.JKkalrLOqF572jsJ5o5Sfg';
    var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/jessicagamio/ck3gl7szo07y31cl36lvdh91x/draft'
    });
     

    map.on('load', function() {
       
        map.addLayer({
            'id': 'sf_map',
            'type': 'fill',
            'source': {
                'type': 'geojson',
                'data': 'SF_Find_Neighborhoods.geojson'
            },
            'layout': {},
            'paint': {
            'fill-color': 'rgba(200, 50, 240, 0.4)',
            'fill-opacity': 0.8,
            'fill-outline-color': 'rgba(200, 100, 240, 1)'
            }
        });

        map.on('click', 'sf_map', function(e) {
            new mapboxgl.Popup()
            .setLngLat(e.lngLat)
            .setHTML(e.features[0].properties.name)
            .addTo(map);
        });

        map.on('mouseenter', 'sf_map', function() {
            map.getCanvas().style.cursor = 'pointer';
        });
         
        // Change it back to a pointer when it leaves.
        map.on('mouseleave', 'sf_map', function() {
            map.getCanvas().style.cursor = '';
        });


    });

    </script>
 -->

</body>
</html>